

.questions-hero-content{
    position: relative;
}

.questions-hero-img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: top;
    
    
}

.questions-hero-inner{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%,-10%);
}